importFrom(RJSONIO, toJSON)
importFrom(tools, package_dependencies)
export(previewPacket, getScimapId, enableScimap, isEnabledScimap, disableScimap, disableScimapThisSession, addUserMetadata, deanonymize, enableTracking)
