importFrom(RJSONIO, toJSON)
importFrom(tools, package_dependencies)
export(scimapIn, scimapOut, previewPacket, getScimapId, enableScimap, isEnabledScimap, disableScimap, disableScimapThisSession, addUserMetadata, deanonymize)
